<!DOCTYPE html>
<html ng-app="Robot">
<head>
    <meta charset="UTF-8">
    <title>Sprachroboter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.21/angular-material.min.css">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body ng-controller="SheetIds">
    <md-toolbar md-scroll-shrink="">
        <div class="md-toolbar-tools">Sprachroboter</div>
    </md-toolbar>

    <md-card>
        <md-card-content>
            <div layout="row">
                <span>Wählen Sie einen Roboter aus, mit dem Sie sprechen möchten</span>
            </div>
            <div layout="row">
                <md-select ng-model="selectedSheetId" placeholder="Roboter" class="md-no-underline" ng-change="sheetIdSelection()">
                    <md-option ng-repeat="sheetId in sheetIds" value="{{sheetId.id}}">{{sheetId.name}}</md-option>
                </md-select>
            </div>
        </md-card-content>

        <md-content>
            <md-list flex>
                <md-subheader class="md-no-sticky">Unsere Unterhaltung</md-subheader>
                <md-list-item class="md-2-line" ng-repeat="item in chat" ng-click="null">
                    <div class="md-list-item-text" layout="column" layout-align="center {{item.wer === 'Roboter' ? 'end' : ''}}">
                        <h3>{{item.wer}}</h3>
                        <p>{{item.was}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
        <md-input-container>
            <form ng-submit="ask()" >
                <label>Fragen sie</label>
                <input ng-model="question" autocomplete="off">
            </form>
        </md-input-container>
    </md-card>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-animate/1.7.9/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-aria/1.7.9/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.21/angular-material.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>